CORS_ORIGIN_ALLOW_ALL=True
DB_HOST={{ netbox.services.postgres.hostname }}
DB_NAME={{ netbox.services.postgres.db }}
DB_PASSWORD={{ netbox.services.postgres.password }}
DB_USER={{ netbox.services.postgres.user }}
EMAIL_FROM={{ netbox.conf.mail.from }}
EMAIL_PASSWORD={{ netbox.conf.mail.password }}
EMAIL_PORT={{ netbox.conf.mail.port }}
EMAIL_SERVER={{ netbox.conf.mail.host }}
EMAIL_SSL_CERTFILE={{ netbox.conf.mail.ssl.certfile }}
EMAIL_SSL_KEYFILE={{ netbox.conf.mail.ssl.keyfile }}
EMAIL_TIMEOUT={{ netbox.conf.mail.timeout }}
EMAIL_USERNAME={{ netbox.conf.mail.user }}
# EMAIL_USE_SSL and EMAIL_USE_TLS are mutually exclusive, i.e. they can't both be `true`!
EMAIL_USE_SSL={{ netbox.conf.mail.ssl.enabled }}
EMAIL_USE_TLS={{ netbox.conf.mail.tls }}
HOUSEKEEPING_INTERVAL=86400
MAX_PAGE_SIZE=1000
MEDIA_ROOT={{ netbox.conf.media_root }}
METRICS_ENABLED={{ netbox.conf.metrics }}
NAPALM_PASSWORD={{ netbox.conf.napalm.password }}
NAPALM_TIMEOUT={{ netbox.conf.napalm.timeout }}
NAPALM_USERNAME={{ netbox.conf.napalm.user }}
REDIS_CACHE_DATABASE=1
REDIS_CACHE_HOST={{ netbox.services.redis.cache.hostname }}
REDIS_CACHE_INSECURE_SKIP_TLS_VERIFY=false
REDIS_CACHE_PASSWORD={{ netbox.services.redis.cache.password }}
REDIS_CACHE_SSL=false
REDIS_DATABASE=0
REDIS_HOST={{ netbox.services.redis.main.hostname }}
REDIS_INSECURE_SKIP_TLS_VERIFY=false
REDIS_PASSWORD={{ netbox.services.redis.main.password }}
REDIS_SSL=false
RELEASE_CHECK_URL=https://api.github.com/repos/netbox-community/netbox/releases
SECRET_KEY={{ netbox.conf.secretkey }}
SKIP_STARTUP_SCRIPTS=false
SKIP_SUPERUSER=false
SUPERUSER_API_TOKEN={{ netbox.conf.user.superuser.api_token }}
SUPERUSER_EMAIL={{ netbox.conf.user.superuser.mail }}
SUPERUSER_NAME={{ netbox.conf.user.superuser.name }}
SUPERUSER_PASSWORD={{ netbox.conf.user.superuser.password }}
WEBHOOKS_ENABLED=true

DEBUG=true
INTERNAL_IPS=*
ALLOWED_HOSTS=*